/*------------------------------------*\
    #COMPONENTS - HAMBURGER
\*------------------------------------*/

$hamburger-color: $white !default;
$hamburger-thickness: 3px !default;
$hamburger-width: 30px !default;

.c-hamburger {
	position: relative;
	width: $hamburger-width;
	height: 19px;
	border-top: $hamburger-thickness solid $hamburger-color;
	cursor: pointer;

	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 0;
		width: $hamburger-width;
		height: $hamburger-thickness;
		background: $hamburger-color;
	}

	&:before {
		top: 5px;
	}

	&:after {
		top: 13px;
	}

	@include bp-medium {
		display: none;
	}
}