/*------------------------------------*\
    #COMPONENTS - NAV
\*------------------------------------*/

.c-nav {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: $black;
	will-change: transform;
	transform: translate(100%, 0);
	@include ease('in-out', 0.25);

	&--active {
		transform: translate(0, 0);
		@include ease('in-out', 0.25);
	}

	&__list {
		margin-top: $spacing * 3;
	}

	&__item {
		
	}

	&__link {
		display: block;
		padding: ($spacing / 1.5) ($spacing);
		color: $white;
		@include font-size($font-medium);

		&:hover {
			background: mix(white, $black, 10);
		}
	}

	@include bp-small {
		width: 300px;
	}

	@include bp-medium {
		display: block;
		transform: none;
		position: static;
		height: auto;
		width: auto;
		background: none;

		&__list {
			display: flex;
			margin: 0;
		}

		&__item {
			margin: 0 0 0 $spacing;
		}

		&__link {
			@include font-size($font-normal);
			padding: 0;

			&:hover {
				background: none;
				color: mix(black, $white, 10);
			}
		}
	}
}