/*------------------------------------*\
    #UTILS - COLORS
\*------------------------------------*/

// UI Colors

.u-clr-white {
  color: $white;
}

.u-clr-black {
  color: $black;
}

.u-clr-grey {
  color: $mid-grey;
}

.u-clr-dark-grey {
  color: $dark-grey;
}

.u-clr-light-grey {
  color: $light-grey;
}

.u-clr-blue {
  color: $blue;
}

.u-clr-red {
  color: $red;
}

.u-clr-green {
  color: $green;
}

.u-clr-yellow {
  color: $yellow;
}

// UI Background colors

.u-bg-white {
  background-color: $white;
}

.u-bg-black {
  background-color: $black;
}

.u-bg-grey {
  background-color: $mid-grey;
}

.u-bg-dark-grey {
  background-color: $dark-grey;
}

.u-bg-light-grey {
  background-color: $light-grey;
}

.u-bg-blue {
  background-color: $blue;
}

.u-bg-red {
  background-color: $red;
}

.u-bg-green {
  background-color: $green;
}

.u-bg-yellow {
  background-color: $yellow;
}

// SVG colors

.u-fill-white {
  fill: $white;
}

.u-fill-black {
  fill: $black;
}

.u-fill-grey {
  fill: $mid-grey;
}

.u-fill-dark-grey {
  fill: $dark-grey;
}

.u-fill-light-grey {
  fill: $light-grey;
}

.u-fill-blue {
  fill: $blue;
}

.u-fill-red {
  fill: $red;
}

.u-fill-green {
  fill: $green;
}

.u-fill-yellow {
  fill: $yellow;
}