/*------------------------------------*\
    #UTILS - SPACING
\*------------------------------------*/

// 0 margins
.u-mg-none {
	margin: 0 !important;
}

// margin top
.u-mgt-sm {
	margin-top: $spacing / 1.5;
}

.u-mgt {
	margin-top: $spacing;
}

// margin right
.u-mgr-sm {
	margin-right: $spacing / 1.5;
}

.u-mgr {
	margin-right: $spacing;
}

// margin bottom
.u-mgb-sm {
	margin-bottom: $spacing / 1.5;
}

.u-mgb {
	margin-bottom: $spacing;
}

// margin left
.u-mgl-sm {
	margin-left: $spacing / 1.5;
}

.u-mgl {
	margin-left: $spacing;
}

// 0 margins
.u-pd-none {
	padding: 0 !important;
}

// padding top
.u-pdt-sm {
	padding-top: $spacing / 1.5;
}

.u-pdt {
	padding-top: $spacing;
}

// padding right
.u-pdr-sm {
	padding-right: $spacing / 1.5;
}

.u-pdr {
	padding-right: $spacing;
}

// padding bottom
.u-pdb-sm {
	padding-bottom: $spacing / 1.5;
}

.u-pdb {
	padding-bottom: $spacing;
}

// padding left
.u-pdl-sm {
	padding-left: $spacing / 1.5;
}

.u-pdl {
	padding-left: $spacing;
}