/*------------------------------------*\
    #UTILS - VARIABLES
\*------------------------------------*/

// Spacing
$spacing: 							2.25rem;

// Font family
$font-heading: 					'Open Sans', 'Arial', sans-serif;
$font-default:					'Open Sans', 'Arial', sans-serif;

// Font weights
$font-weight-black: 		900;
$font-weight-bold:  		700;
$font-weight-semibold:  600;
$font-weight-regular:  	400;
$font-weight-light:  		300;

// Font sizing (Perfect Fifth ratio thing)
$font-xsmall: 					0.667;
$font-small: 						1.0;
$font-normal: 					1.5;
$font-medium: 					2.25;
$font-mmedium: 					3.374;
$font-large: 						5.062;
$font-xlarge: 					7.594;
$font-xxlarge: 					11.391;
$font-xxxlarge: 				17.086;
$font-massive: 					25.629;
$font-giant: 						38.443;

// Breakpoints
$bp-xsmall: 						320px;
$bp-small: 							480px;
$bp-medium: 						768px;
$bp-large: 							960px;
$bp-xlarge: 						1280px;
$bp-xxlarge: 						1440px;

// Colors
$black: 								#212121;
$dark-grey: 						#424242;
$mid-grey: 							#9E9E9E;
$light-grey: 						#E0E0E0;
$white: 								#FAFAFA;

$red: 									#F44336;
$pink: 									#E91E63;
$purple: 								#E91E63;
$indigo: 								#3F51B5;
$blue: 									#2196F3;
$cyan: 									#00BCD4;
$green: 								#4CAF50;
$yellow: 								#FFEB3B;
$orange: 								#FF9800;
$brown:									#795548;

$facebook: 							#3b5998;
$twitter: 							#00aced;
$linkedin: 							#007bb6;
$googleplus: 						#dd4b39;
$youtube: 							#bb0000;