/*------------------------------------*\
    #UTILS - VARIABLES
\*------------------------------------*/

// Spacing
$spacing: 							2.25rem;

// Font family
$font-heading: 					'Open Sans', 'Arial', sans-serif;
$font-default:					'Open Sans', 'Arial', sans-serif;
$font-serif: 						'Georgia', serif;

// Font weights
$font-weight-black: 		900;
$font-weight-bold:  		700;
$font-weight-semibold:  600;
$font-weight-regular:  	400;
$font-weight-light:  		300;

// Font sizing (Perfect Fifth ratio thing)
$font-1: 								1.0;
$font-2: 								1.5;
$font-3: 								1.875;
$font-4: 								2.25;
$font-5: 								2.812;
$font-6: 								3.374;
$font-7: 								4.218;
$font-8: 								5.062;
$font-9: 								6.328;
$font-10: 							7.594;
$font-11: 							11.391;
$font-12: 							17.086;
$font-13: 							25.629;
$font-14: 							38.443;

// Breakpoints
$bp-xsmall: 						320px;
$bp-small: 							480px;
$bp-medium: 						768px;
$bp-large: 							960px;
$bp-xlarge: 						1280px;
$bp-xxlarge: 						1440px;

// Colors
$black: 								#212121;
$dark-grey: 						#424242;
$mid-grey: 							#9E9E9E;
$light-grey: 						#E0E0E0;
$white: 								#FAFAFA;

$red: 									#F44336;
$pink: 									#E91E63;
$purple: 								#E91E63;
$indigo: 								#3F51B5;
$blue: 									#2196F3;
$cyan: 									#00BCD4;
$green: 								#4CAF50;
$yellow: 								#FFEB3B;
$orange: 								#FF9800;
$brown:									#795548;

$facebook: 							#3b5998;
$twitter: 							#00aced;
$linkedin: 							#007bb6;
$googleplus: 						#dd4b39;
$youtube: 							#bb0000;

// Easings
$ease-in: 							cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-out: 							cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-out: 					cubic-bezier(0.86, 0, 0.07, 1);