/*------------------------------------*\
    #UTILS - VARIABLES
\*------------------------------------*/

// Spacing
$spacing: 							2.4rem;
$line-height: 					1.5;

// Font family
$font-heading: 					'Source Sans Pro', 'Arial', sans-serif;
$font-default:					'Source Sans Pro', 'Arial', sans-serif;

// Font weights
$font-weight-black: 		900;
$font-weight-bold:  		700;
$font-weight-semibold:  600;
$font-weight-normal:  	400;
$font-weight-light:  		300;

// Font sizing
$font-xsmall: 					1.2;
$font-small: 						1.4;
$font-normal: 					1.6;
$font-medium: 					1.8;
$font-mmedium: 					2.2;
$font-large: 						3.0;
$font-xlarge: 					4.0;
$font-xxlarge: 					5.0;
$font-xxxlarge: 				6.0;
$font-massive: 					7.0;
$font-giant: 						8.0;

// Colors
$black: 								#212121;
$dark-grey: 						#424242;
$mid-grey: 							#9E9E9E;
$light-grey: 						#E0E0E0;
$white: 								#FAFAFA;

$red: 									#F44336;
$pink: 									#E91E63;
$purple: 								#E91E63;
$indigo: 								#3F51B5;
$blue: 									#2196F3;
$cyan: 									#00BCD4;
$green: 								#4CAF50;
$yellow: 								#FFEB3B;
$orange: 								#FF9800;
$brown:									#795548;

$facebook: 							#3b5998;
$twitter: 							#00aced;
$linkedin: 							#007bb6;
$googleplus: 						#dd4b39;
$youtube: 							#bb0000;