/*------------------------------------*\
    #UTILS - Z-INDEX
\*------------------------------------*/

$zindex: (
	hamburger: 100
);

@function z($label) {
  @return map-get($zindex, $label);
}

.c-hamburger {
	z-index: z(hamburger);
}
