/*------------------------------------*\
    #BASAL-NAV NAV
\*------------------------------------*/

$className: '.bass-nav';

@mixin collapsed() {

	#{$className}__nav {
		display: none;
		position: fixed;
		z-index: 999;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background: $black;
		will-change: transform;
		transform: translateX(100%);
		@include ease('in-out', 0.25);
	}

	#{$className}__nav--active {
		transform: translateX(0);
	}

	#{$className}__list {
		display: block;
		list-style-type: none;
		margin-top: $spacing * 3;
		padding: 0;
	}

	#{$className}__item {
		margin: 0;
	}

	#{$className}__link {
		display: block;
		padding: ($spacing / 1.5) ($spacing);
		font-size: 1.8rem;
		color: $white;
		text-align: right;
	}

	@include bp-small {

		#{$className}__nav {
			width: 300px;
		}
	}
}

@mixin expanded() {

	#{$className}__nav {
		display: block;
		transform: none;
		position: static;
		height: auto;
		width: auto;
		background: none;
	}

	#{$className}__list {
		display: flex;
		margin: 0;
	}

	#{$className}__item {
		margin: 0 0 0 $spacing;
	}

	#{$className}__link {
		font-size: 1.6rem;
		padding: 0;
	}
}

.bass-nav {
	@include collapsed;

	@include bp-medium {

		@include expanded;

		&--collapsed {
			@include collapsed;
		}
	}
}