/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 ($spacing / 1.5);
	font-family: $font-heading;
	letter-spacing: -1px;
	// font-weight: $font-weight-light;
	color: $black;
}

h1 {
	@include font-size($font-xlarge);
}

h2 {
	@include font-size($font-large);
}

h3 {
	@include font-size($font-mmedium);
}

h4 {
	@include font-size($font-medium);
}

h5 {
	@include font-size($font-normal);
}

h6 {
	@include font-size($font-small);
}

p {
	margin: (0) (0) ($spacing);
	font-family: $font-default;
	font-weight: $font-weight-normal;
	color: $dark-grey;
	@include font-size($font-normal);
}

strong {
	font-weight: $font-weight-black;
}
