/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: (0) (0) ($spacing);
	font-family: $font-heading;
	font-weight: $font-weight-bold;
	color: $black;
}

h1 {
	font-size: 3.6rem;
}

h2 {
	font-size: 2.8rem;
	margin-bottom: $spacing / 2;
}

h3 {
	font-size: 2.2rem;
	margin-bottom: $spacing / 3;
}

h4 {
	font-size: 1.6rem;
	margin-bottom: $spacing / 4;
}

h5 {
	font-size: 1.2rem;
	margin-bottom: $spacing / 5;
}

h6 {
	font-size: 1.2rem;
	margin-bottom: $spacing / 6;
}

p {
	margin: (0) (0) ($spacing);
	font-family: $font-default;
	font-weight: $font-weight-normal;
	color: $dark-grey;
}

strong {
	font-weight: $font-weight-black;
}
