/*------------------------------------*\
    #MIXINS - BUTTONS
\*------------------------------------*/

@mixin c-btn {
	@include cf;
	display: inline-block;

	min-width: $spacing * 6;

	margin: (0) (2px) ($spacing / 2) (0);
	padding: ($spacing / 2) ($spacing);
	border-radius: 2px;
	overflow: hidden;
	cursor: pointer;

	@include font-size(1.6);
	text-align: center;

	color: $dark-grey;
	background: $light-grey;

	will-change: background;

	@include ease('out');

	&:last-child,
	&:last-of-type {
		margin-right: 0;
	}

	&:hover,
	&:focus {
		background: mix(black, $light-grey, 10);
	}

	&:focus {
		outline: none;
	}
}

@mixin c-btn--success {
	color: $white;
	background: $green;

	&:hover,
	&:focus {
		background: mix(black, $green, 10);
	}
}

@mixin c-btn--danger {
	color: $white;
	background: $red;

	&:hover,
	&:focus {
		background: mix(black, $red, 10);
	}
}

@mixin c-btn--attention {
	color: $dark-grey;
	background: $yellow;

	&:hover,
	&:focus {
		background: mix(black, $yellow, 10);
	}
}

@mixin c-btn--icon {
	@include cf;
	min-width: 200px;

	span {
		float: left;
	}
}

@mixin c-btn__glyph {
	float: right;
	margin-left: $spacing / 3;
	$size: 24px;
	width: $size;
	height: $size;

	@include bp-medium {
		vertical-align: top;
	}
}