/*------------------------------------*\
    #MIXINS - TRANSITIONS
\*------------------------------------*/

$default-ease: 'out' !default;
$default-speed: 0.25 !default;

@mixin ease($type: $default-ease, $speed: $default-speed) {
	@if ($type == 'in') {
		transition: all $speed+s $ease-in;
	} @elseif ($type == 'out') {
		transition: all $speed+s $ease-out;
	} @elseif ($type == 'in-out') {
		transition: all $speed+s $ease-in-out;
	}
}